*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/logs
nodes.dmp
names.dmp
/Db/
biosql-schema
grails-schema
Organismus Numberus*

#generated intellij project files
*.iml
*.ipr
*.iws
.idea/

#generated eclipse project files
.classpath
.project
.settings/

# JGM-specific stuff
funkystuff/
.groovy/
#.gitignore
#.gitignore.bak
