body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 940px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.row {
    margin: 0;
    margin-right: 0;
    width: 940px;
}

.span10 {
    margin-left: 0;
}

.dist-graph {
    display: inline-block;
}

.piechart {
    display: inline-block;
    width: 200px;
    height: 200px;
}

#gcPie0 {
    float: left;
}

#gcPie1 {
    float: right;
}

#gcText {
    position: relative;
    display: inline-block;
    width: 536px;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
}

#gcText div#gcPerc0 {
    margin-top: 40px;
    left: 0;
}

#gcText div#gcPerc1 {
    position: absolute;
    bottom: 40px;
    right: 0;
    margin: 0;
}

.legendColor {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 4px;
}