<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        '-//Hibernate/Hibernate Configuration DTD 3.0//EN'
        'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>
    <session-factory>
        <mapping resource="org.biojavax.bio.SimpleBioEntry.hbm.xml"/>
        <mapping resource="org.biojavax.bio.SimpleBioEntryRelationship.hbm.xml"/>
        <mapping resource="org.biojavax.SimpleComment.hbm.xml"/>
        <mapping resource="org.biojavax.SimpleCrossRef.hbm.xml"/>
        <mapping resource="org.biojavax.SimpleDocRef.hbm.xml"/>
        <mapping resource="org.biojavax.bio.seq.SimpleRichFeature.hbm.xml"/>
        <mapping resource="org.biojavax.bio.seq.SimpleRichFeatureRelationship.hbm.xml"/>
        <mapping resource="org.biojavax.bio.seq.SimpleRichLocation.hbm.xml"/>
        <mapping resource="org.biojavax.SimpleNamespace.hbm.xml"/>
        <mapping resource="org.biojavax.ontology.SimpleComparableOntology.hbm.xml"/>
        <mapping resource="org.biojavax.bio.taxa.SimpleNCBITaxon.hbm.xml"/>
        <mapping resource="org.biojavax.ontology.SimpleComparableTerm.hbm.xml"/>
        <mapping resource="org.biojavax.ontology.SimpleComparableTriple.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
